
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
/* Navbar */
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav .left .logo img{
    width: 50px;
    cursor: pointer;
}

nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

nav .left .search_bar{
    width: 250px;
    height: 40px;
    background: #efefef;
    border-radius: 30px;
    padding: 0 10px;
    margin-left: 10px;
    position: relative;
    left: 15px;
}

nav .left .search_bar i{
    line-height: 40px;
    /* font-size: 19px; */
    color: #919191;
    /* margin-right: 5px; */
}

nav .left .search_bar input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
}

nav .center{
    position: relative;
    right: 45px;

}

nav .center i{
    margin: 0 45px 0 45px;
    font-size: 22px;
}
nav .center i:hover{
    color: #45abff;
    cursor: pointer;
}
nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

nav .right i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #efefef;
    line-height: 35px;
    padding-left: 8px;
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
}
nav .right img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
}
/* center  hover */

nav .center .line_home{
    width: 100px;
    height: 3px;
    border-radius: 7px;
    background-color: #45abff;
    position: absolute;
    left: 1.5%;
    top: 40px;
    color: #45abff;
    white-space: nowrap;
}
nav .center .hover_home{
    position: absolute;
    left: 10%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

nav .center i:hover .hover_home{
    visibility: visible;
    opacity: 1;
}
nav .center .hover_home{
    position: absolute;
    left: 10%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

nav .center i:hover .hover_home{
    visibility: visible;
    opacity: 1;
}
nav .center .hover_home{
    position: absolute;
    left: 10%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

nav .center i:hover .hover_home{
    visibility: visible;
    opacity: 1;
}
nav .center .hover_friend{
    position: absolute;
    left: 30%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .center i:hover .hover_friend{
    visibility: visible;
    opacity: 1;
}

nav .center .hover_video{
    position: absolute;
    left: 51%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .center i:hover .hover_video{
    visibility: visible;
    opacity: 1;
}
nav .center .hover_maketplace{
    position: absolute;
    left: 71%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .center i:hover .hover_maketplace{
    visibility: visible;
    opacity: 1;
}
nav .center .hover_group{
    position: absolute;
    left: 91%;
    top: 45px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 15px 20px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .center i:hover .hover_group{
    visibility: visible;
    opacity: 1;
}

/* right hover */
nav .right .hover_menu{
    position: absolute;
    left: 92%;
    top: 61px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .right i:hover .hover_menu{
    visibility: visible;
    opacity: 1;
}
nav .right .hover_chat{
    position: absolute;
    left: 94%;
    top: 61px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .right i:hover .hover_chat{
    visibility: visible;
    opacity: 1;
}
nav .right .hover_notification{
    position: absolute;
    left: 96%;
    top: 61px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .right i:hover .hover_notification{
    visibility: visible;
    opacity: 1;
}
nav .right .hover_accounts p{
    position: absolute;
    left: 98%;
    top: 61px;
    transform: translateX(-50%);
    background-color: #7e7878;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
nav .right .hover_accounts:hover p{
    visibility: visible;
    opacity: 1;
}

/* main */

main{
    display: flex;
    margin-top: 20px;
    /* background: #f5f5f5; */
}

main .left{
    width: 25%;
    height: 88vh;
    overflow: hidden;
    overflow-y: scroll;
    /* background: #f5f5f5; */
    padding:0 20px 0 20px;
    position: fixed; 
}

main .left::-webkit-scrollbar{
    width: 7px;
}
main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}
main .left:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}
main .left .img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
main .left .img:hover{
    background: #cccccc;
}
main .left .img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
}
main .left .img p{
    margin-top: 12px;
}
 main .left hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
 }

 main .left h2{
    font-size: 18px;
    color: #919191;
    /* margin: 5px 0; */
 }
 main .left .edit{
    color: #45abff;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 35px;
    cursor: pointer;
    opacity: 0;
 }
 main .left:hover .edit{
    opacity: 1;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10%;
 }

 main .left .shortcust{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
main .left .shortcust:hover{
    background: #cccccc;
}
main .left .shortcust img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    /* border-radius: 50%; */
    margin: 8px 15px 8px 0;
}
main .left .shortcust p{
    margin-top: 12px;
}
main .left .footer_left a{
    color: #919191;

}
main .left .footer_left a:hover{
    background: #cccccc;
    border-radius: 5px;
}

/* center */

main .center{
    width: 40%;
    height: 290px;
    padding: 20px 20px 0 20px;
    /* background: #fff; */
    margin-left: 30%;
}

main .center::-webkit-scrollbar{
    width: 0;
}
main .center .top_box{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .center .top_box .my_story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}
main .center .top_box .my_story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
main .center .top_box .my_story_card .story_upload{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}
main .center .top_box .my_story_card .story_upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
}
main .center .top_box .my_story_card .story_upload .story_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
main .center .top_box .story_card{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}
main .center .top_box .story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
main .center .top_box .story_card .story_profile{
    position: relative;
    bottom: 240px;
    margin-left: 10px;
}
main .center .top_box .story_card .story_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #45abff;
}
main .center .top_box .story_card .story_profile .cricle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}
main .center .top_box .story_card .story_name{
    position: relative;
    bottom: 80px;
    padding: 0 10px;
}
main .center .top_box .story_card .story_name .name{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
}
main .center .my_post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    margin: 10px 0;
}
main .center .my_post img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
main .center .my_post .post_top{
    display: flex;
    align-items: center;
}
main .center .my_post .post_top input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
}
main .center .my_post .post_top input:hover{
    background: #e3e3e3;
    cursor: pointer;
}
main .center .my_post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

main .center .my_post .post_bottom{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

main .center .my_post .post_bottom .post_icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto; */
    padding: 5px 40px;
    cursor: pointer;
}

main .center .my_post .post_bottom .post_icon:hover{
    background: #efefef;
    border-radius: 8px;
}

main .center .my_post .post_bottom .post_icon i.red{
    font-size: 23px;
    color: red;
    margin-right: 8px;
}

main .center .my_post .post_bottom .post_icon i.green{
    font-size: 23px;
    color: #27cc37;
    margin-right: 8px;
}

main .center .my_post .post_bottom .post_icon i.yellow{
    font-size: 23px;
    color: #f7b928;
    margin-right: 8px;
}

main .center .post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}
main .center .post .post_top{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}
main .center .post .post_top .img_and_name{
    display: flex;
}
main .center .post .post_top .img_and_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}



main .center .post img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

main .center .post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

main .center .post .info .emoji_img{
    display: flex;
}

main .center .post .info .emoji_img img{
    width: 20px;
    height: 20px;
}

main .center post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
    color: #919191;
}

main .center .post .info .comment{
    display: flex;
    align-items: center;
}

main .center .post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: #475569;
}

main .center .post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

main .center .post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}

main .center .post .like .like_icon{
    display: flex;
    align-items: center;
}

main .center .post .like .like_icon i{
    font-size: 20px;
    margin-right: 10px;
    color: #919191;
}

main .center .post .like .like_icon i.activi{
    color: #45abff;
}
/* post2 */
main .center .post .img_post{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
main .center .post .img_post .img_left{
    width: 50%;
    height: 100%;
    /* background-color: #27cc37; */
}
main .center .post .img_post .img_right{
    width: 49.5%;
    height: 100%;
    /* background-color: #45abff; */
}
main .center .post .img_post .img_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        
}
main .center .post .img_post .img_right .right_small{
    width: 100%;
    height: 33%;
}

/* post3 */
main .center .post .img_post .img_left1{
    width: 100%;
    height: 100%;
    /* background-color: #27cc37; */
}
main .center .post .img_post .img_right1{
    width: 100%;
    height: 100%;
    /* background-color: #45abff; */
}
main .center .post .img_post .img_left1{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        
}
main .center .post .img_post .img_right1{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        
}
main .center .post .img_post .img_right1 .right_small{
    width: 99%;
    height: 49.5%;
}
main .center .post .img_post .img_left1 .left_small{
    width: 99%;
    height: 49.5%;
}
main .center .post .img_post .img_left img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}
main .center .post .img_post .img_right .right_small img{
    width: 100%;
    height: 197.33px;
}
main .center .post .img_post .img_left1 .left_small img{
    width: 100%;
    height: 300px;
}
main .center .post .img_post .img_right1 .right_small img{
    width: 100%;
    height: 300px;
}

/*-----------------right------------------*/

main .right{
    width: 19%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    /* background: #f5f5f5; */
    padding: 20px 10px 5px 6px;
    position: fixed;
    right: 0;
}

main .right::-webkit-scrollbar{
    width: 7px;
}

main .right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

main .right:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

main .right .first_warpper .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .right .first_warpper .page h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

main .right .first_warpper .page .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

main .right .first_warpper .page .menu:hover{
    cursor: pointer;
}

main .right .first_warpper .page .menu p{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
    color: #45abff;
}

main .right .first_warpper .page_img{
    display: flex;
    align-items: center;
}

main .right .first_warpper .page_img img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    cursor: pointer;
}

main .right .first_warpper .page_icon{
    display: flex;
    align-items: center;
}

main .right .first_warpper .page_icon i{
    color: #919191;
    font-size: 20px;
    margin: 8px 15px 8px 0;
}

main .right hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px auto;
}

main .right .third_warpper .contact_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .right .third_warpper .contact_tag h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

main .right .third_warpper .contact_tag .contact_icon i{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    padding-left: 10px;
}

main .right .third_warpper .contact_tag .contact_icon i:hover{
    background: #efefef;
    cursor: pointer;
}

main .right .third_warpper .contact{
    display: flex;
    align-items: center;
}

main .right .third_warpper .contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    border: 3px solid #45abff;
    cursor: pointer;
}
main .right .contact .right_profile .cricle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}


/* dropdown search */

.dropdown_search{
    width: 130%;
    height: auto;
    background-color: #fff;
    position: absolute;
    border-radius: 7px;
    right: 3px;
    margin-top: 12px;
    border: 1px solid #919191;
    padding: 20px;
    opacity: 0;
}
.search_bar:hover .dropdown_search{
    opacity: 1;
}


.dropdown_search .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.dropdown_search .page h2{
    font-size: 16px;
}
.dropdown_search .recent_search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.dropdown_search .recent_search .profile{
    width: 50%;
    height: 100%;
    /* background-color: #27cc37; */
}
.dropdown_search .recent_search .delete_recent{
    width: 20%;
    height: 100%;
    /* background-color: #7d18c5; */
}
.search_bar .recent_search .profile img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.search_bar .recent_search .profile .active .cricle_active .point{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
}
